$site-main-color: #182532;
$site-main-color2: #17243a;
$main-color-dem: #354757;
$main-color-dem1:rgba(3, 11, 18, 0.9);
$footer:rgb(0, 23, 43);
$main-color-light: #767B79;
$hero-btns: #f06b4c;
$about-text: #eee5c8;
$service-page-color : #7564ED;
$toTheTop : #21abff75;
$footer-color: rgba(238, 229, 200, 0.9);
$footer-color-2: rgba(255, 255, 255, 0.9);


$white: #ffffff;
$gravish: #afafaf;
$black: #000000;

$contact-page: #a8a8a8;

$main-font: "Merriweather";
$roboto-slab: "Roboto Slab";
$timesRomanBold: "timesNewRomanBold";
$timesRomanSimple: "TimesNewRoman";