.go-to-top {
  @include flexRowCenter;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $toTheTop;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
  z-index: 20;
  animation: goto 0.75s infinite alternate-reverse linear;

  > svg {
    color: $white;
    font-size: 2rem;
  }
}
